In [1]:
import pandas as pd
import numpy as np

1. Columnas 'Informacion Puerto': Port_name| Major/Minor_ports | Port_hub (Cluster) | State/Region | id_Port | LAT | LON | Police force region |
    - US: Obtener de clusters de 'cargueros_september_df'
    - UK: Obtener de uk_ports

In [2]:
ports_uk = pd.read_csv('../home_uk/uk_ports.csv',sep=',',  usecols=lambda x: x != "key_1")

In [4]:
ports_usa = pd.read_excel('../ais_noaa_gov/p16021coll2_14565_containers_2022.xls',
                          sheet_name ='2022 TEUs by Name',
                          header=0,
                          usecols="A:B",
                          skiprows=[1,2],
                          engine='xlrd')

In [7]:
ports_uk.columns
ports_uk.rename(columns={'Port group': 'Port hub', 'UK Country': 'Region/State'}, inplace=True)

In [38]:
ports_uk= ports_uk.drop(columns={'Police force region'}, axis=1)

In [39]:
ports_uk.to_csv('../home_uk/ports_uk.csv', sep=',')

In [41]:
ports_uk['Port hub'].unique()

array(['Scotland East Coast', 'Bristol Channel', 'Scotland West Coast',
       'Lancs and Cumbria', 'Northern Ireland', 'North East',
       'Wash & Northern E Anglia', 'Thames and Kent',
       'Sussex and Hampshire', 'West Country', 'Haven',
       'West and North Wales', 'Humber', nan], dtype=object)

In [62]:
ports_uk.loc[ports_uk['Port hub'].isna()]

                      Port Major/Minor ports Port hub Region/State  id_Port
71             Other ports        Minor port      NaN          NaN       71
112   Rivers Hull & Humber               NaN      NaN      England      117
113      Tees & Hartlepool               NaN      NaN      England      118
114  Grimsby and Immingham               NaN      NaN          NaN      124

Coordenadas UK_hubs:
- 'Scotland East Coast': [57.144555555555556, -2.086388888888889],
- 'Bristol Channel': [51.50705555555555, -2.7167222222222223],
- 'Scotland West Coast': [55.470333333333336, -4.639166666666666],
- 'Lancs and Cumbria': [53.45308333333334, -3.0247777777777776],
- 'Northern Ireland': [54.62802777777778, -5.890138888888888],
- 'North East': [54.91469444444444, -1.3645277777777778],
- 'Wash & Northern E Anglia': [52.962472222222225, -0.003472222222222222],
- 'Thames and Kent': [51.124138888888886, 1.3383611111111111],
- 'Sussex and Hampshire': [50.9065, -1.4428611111111111],
- 'West Country': [50.70716666666667, -1.9895555555555555],
- 'Haven': [51.95605555555556, 1.2995277777777776],
- 'West and North Wales': [53.31111111111111, -4.628111111111112],
- 'Humber': [53.5805, -0.07241666666666667]

In [63]:
dict_hub_coordinates = {
    'Scotland East Coast': [57.144555555555556, -2.086388888888889],
    'Bristol Channel': [51.50705555555555, -2.7167222222222223],
    'Scotland West Coast': [55.470333333333336, -4.639166666666666],
    'Lancs and Cumbria': [53.45308333333334, -3.0247777777777776],
    'Northern Ireland': [54.62802777777778, -5.890138888888888],
    'North East': [54.91469444444444, -1.3645277777777778],
    'Wash & Northern E Anglia': [52.962472222222225, -0.003472222222222222],
    'Thames and Kent': [51.124138888888886, 1.3383611111111111],
    'Sussex and Hampshire': [50.9065, -1.4428611111111111],
    'West Country': [50.70716666666667, -1.9895555555555555],
    'Haven': [51.95605555555556, 1.2995277777777776],
    'West and North Wales': [53.31111111111111, -4.628111111111112],
    'Humber': [53.5805, -0.07241666666666667]
}

In [74]:
dict_hub_coordinates.keys()

dict_keys(['Scotland East Coast', 'Bristol Channel', 'Scotland West Coast', 'Lancs and Cumbria', 'Northern Ireland', 'North East', 'Wash & Northern E Anglia', 'Thames and Kent', 'Sussex and Hampshire', 'West Country', 'Haven', 'West and North Wales', 'Humber'])

In [ ]:
def get_coords(hub):
    coords = dict_hub_coordinates.get(hub)
    if coords:
        return pd.Series(coords)  # Return a Series for correct assignment
    else:
        return pd.Series([None, None])  # Return None values if not found

ports_uk[['coord_0', 'coord_1']] = ports_uk['Port hub'].apply(get_coords)

In [9]:
ports_usa.to_csv('../ais_noaa_gov/ports_usa.csv')

In [10]:
us_port_hubs = pd.read_csv('../ais_noaa_gov/us_port_hubs.csv',sep=',',)

In [12]:
us_port_hubs.columns

Index(['Unnamed: 0', 'clusters', 'coord_0', 'coord_1', 'location'], dtype='object')

In [13]:
us_port_hubs = us_port_hubs.drop(['Unnamed: 0'], axis=1)

In [15]:
us_port_hubs.to_csv('../ais_noaa_gov/port_hubs_usa.csv')

In [26]:
us_port_hubs

,Unnamed: 0,port_name,STATE,matched_port_name,coord_0,coord_1,allocated_location
0,0,"baltimore, md",MD,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa"
1,1,"beaumont, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx"
2,2,"bellingham, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa"
3,3,"bethel, ak",AK,NaN,NaN,NaN,NaN
4,4,"brevig mission, ak",AK,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
105,105,"whittier, ak",AK,NaN,NaN,NaN,NaN
106,106,"wilmington, de",DE,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa"
107,107,"wilmington, nc",NC,"wilmington, nc",34.444471,-77.206152,"wilmington, nc"
108,108,"wrangell, ak",AK,NaN,NaN,NaN,NaN
109,109,"yakutat, ak",AK,NaN,NaN,NaN,NaN

In [16]:
ports_usa

              PORT NAME STATE
0         Baltimore, MD    MD
1          Beaumont, TX    TX
2        Bellingham, WA    WA
3            Bethel, AK    AK
4    Brevig Mission, AK    AK
..                  ...   ...
105        Whittier, AK    AK
106      Wilmington, DE    DE
107      Wilmington, NC    NC
108        Wrangell, AK    AK
109         Yakutat, AK    AK

[110 rows x 2 columns]

In [18]:
us_port_hubs = pd.read_csv('../ais_noaa_gov/Allocated_Ports_Data.csv',sep=',',)

In [20]:
us_port_hubs.columns

Index(['Unnamed: 0', 'port_name', 'STATE', 'matched_port_name', 'coord_0',
       'coord_1', 'allocated_location'],
      dtype='object')

In [21]:
ports_usa = us_port_hubs.drop(['Unnamed: 0', 'allocated_location'], axis = 1)
ports_usa.rename(columns={'matched_port_name': 'Port hub', 'STATE': 'Region/State'}, inplace=True)

In [35]:
ports_usa

,port_name,Region/State,Port hub,coord_0,coord_1
0,"baltimore, md",MD,"baltimore, md, filadelfia, pa",39.162017,-76.084075
1,"beaumont, tx",TX,"houston/galveston, tx",29.602093,-94.667153
2,"bellingham, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779
3,"bethel, ak",AK,NaN,NaN,NaN
4,"brevig mission, ak",AK,NaN,NaN,NaN
...,...,...,...,...,...
105,"whittier, ak",AK,NaN,NaN,NaN
106,"wilmington, de",DE,"baltimore, md, filadelfia, pa",39.162017,-76.084075
107,"wilmington, nc",NC,"wilmington, nc",34.444471,-77.206152
108,"wrangell, ak",AK,NaN,NaN,NaN
109,"yakutat, ak",AK,NaN,NaN,NaN

In [81]:
ports_uk = ports_uk.rename(columns={'Port':'port_name'})

In [82]:
ports_dataframe = pd.concat([ports_usa, ports_uk], axis = 0, ignore_index=True, join='outer')

In [84]:
ports_dataframe.to_csv('../AAA_code/ports_dataframe_input.csv', sep=',')

In [29]:
cbp_nationwide = pd.read_csv('../CBP_drug_seizures/nationwide-drugs-fy22-fy25-dec.csv', sep=',')

In [33]:
cbp_AMO = pd.read_csv('../CBP_drug_seizures/amo-drug-seizures-fy22-fy25-nov.csv', sep=',')

In [30]:
police_force_region = cbp_nationwide["Area of Responsibility"].unique()

In [32]:
ports_usa['Port hub'].unique()

array(['baltimore, md, filadelfia, pa', 'houston/galveston, tx',
       'seattle/tacoma, wa', nan,
       'erie/buffalo, ny, hamilton/toronto, canada', 'corpus christi, tx',
       'tampa, fl', 'Michigan-canada',
       'detroit, mi/ toledo, cleveland, oh', 'duluth, mn', 'boston, ma',
       'san juan, puerto rico', 'honolulu, hi', 'chicago, il',
       'jacksonville, fl', 'new orleans, lo',
       'jackson county, ms, mobile, al', 'wilmington, nc',
       'great los angeles, ca', 'newark/new york, nj/ny',
       'miami-fort lauderdale, fl', 'charleston, sc', 'portland, or',
       'san francisco bay area, ca', 'savannah, ga', 'norfolk, va',
       'san diego, ca'], dtype=object)

In [31]:
police_force_region

array(['ATLANTA FIELD OFFICE', 'BALTIMORE FIELD OFFICE',
       'CHICAGO FIELD OFFICE', 'HOUSTON FIELD OFFICE',
       'LOS ANGELES FIELD OFFICE', 'MIAMI FIELD OFFICE',
       'NEW ORLEANS FIELD OFFICE', 'NEW YORK FIELD OFFICE',
       'PRECLEARANCE FIELD OFFICE', 'SAN FRANCISCO FIELD OFFICE',
       'SAN JUAN FIELD OFFICE', 'TAMPA FIELD OFFICE',
       'BOSTON FIELD OFFICE', 'BUFFALO FIELD OFFICE',
       'DETROIT FIELD OFFICE', 'SEATTLE FIELD OFFICE',
       'PORTLAND FIELD OFFICE', 'EL PASO FIELD OFFICE',
       'LAREDO FIELD OFFICE', 'SAN DIEGO FIELD OFFICE',
       'TUCSON FIELD OFFICE', 'MIAMI SECTOR', 'NEW ORLEANS SECTOR',
       'RAMEY SECTOR', 'BLAINE SECTOR', 'DETROIT SECTOR',
       'GRAND FORKS SECTOR', 'HOULTON SECTOR', 'SPOKANE SECTOR',
       'SWANTON SECTOR', 'BIG BEND SECTOR', 'DEL RIO SECTOR',
       'EL CENTRO SECTOR', 'EL PASO SECTOR', 'LAREDO SECTOR',
       'RIO GRANDE VALLEY SECTOR', 'SAN DIEGO SECTOR', 'TUCSON SECTOR',
       'YUMA SECTOR', 'BUFFALO SECTOR', 'HAVRE SECTOR'], dtype=object)

In [34]:
cbp_AMO["Branch"].unique()

array(['AMOC Air And Marine Operations Center',
       'Ground Tactical Air Controller', 'NASOC - Corpus Christi',
       'NASOC - Houston', 'NASOC - Jacksonville',
       'New Orleans Air And Marine Branch', 'Bellingham Air Branch',
       'Great Lakes Air And Marine Branch', 'Laredo Air Branch',
       'Tucson Air Branch', 'Caribbean Air And Marine Branch',
       'Jacksonville Air And Marine Branch',
       'Miami Air And Marine Branch', 'Manassas Air Branch',
       'El Paso Air Branch', 'NASOC - Sierra Vista', 'Yuma Air Branch',
       'NASOC - Grand Forks', 'Mc Allen Air And Marine Branch',
       'NASOC - San Angelo', 'San Diego Air And Marine Branch',
       'National Air Training Center Oklahoma City',
       'Houston Air And Marine Branch', 'Mexico City IAC',
       'NASOC - Albuquerque'], dtype=object)

In [ ]:
dict_cbp = {
    'baltimore, md, filadelfia, pa':'BALTIMORE FIELD OFFICE',
    'houston/galveston, tx':'HOUSTON FIELD OFFICE',
    'seattle/tacoma, wa': 'SEATTLE FIELD OFFICE',
    'erie/buffalo, ny, hamilton/toronto, canada':['BUFFALO FIELD OFFICE','BUFFALO SECTOR'],
    'corpus christi, tx': 'NASOC - Corpus Christi',
    'tampa, fl': 'TAMPA FIELD OFFICE',
    'Michigan-canada': 'Great Lakes Air And Marine Branch',
    'detroit, mi/ toledo, cleveland, oh':'DETROIT FIELD OFFICE',
    'duluth, mn': 'GRAND FORKS SECTOR',
    'boston, ma': 'BOSTON FIELD OFFICE',
    'san juan, puerto rico': 'SAN JUAN FIELD OFFICE',
    'honolulu, hi': 0,
    'chicago, il':'CHICAGO FIELD OFFICE',
    'jacksonville, fl': ['NASOC - Jacksonville','Jacksonville Air And Marine Branch'],
    'new orleans, lo': ['NEW ORLEANS FIELD OFFICE','NEW ORLEANS SECTOR'],
    'jackson county, ms, mobile, al':'New Orleans Air And Marine Branch',
    'wilmington, nc':0,
    'great los angeles, ca':'LOS ANGELES FIELD OFFICE',
    'newark/new york, nj/ny':'NEW YORK FIELD OFFICE',
    'miami-fort lauderdale, fl':'MIAMI FIELD OFFICE',
    'charleston, sc':0,
    'portland, or':'PORTLAND FIELD OFFICE',
    'san francisco bay area, ca':'SAN FRANCISCO FIELD OFFICE',
    'savannah, ga':'ATLANTA FIELD OFFICE',
    'norfolk, va':'Manassas Air Branch',
    'san diego, ca':'SAN DIEGO FIELD OFFICE'
}