Añadir tablas de DEpartment for Transportation (UK) para informacion en puertos:

In [27]:
import pandas as pd
import xlrd
import re

**Port0602**: counts of vessels - cargo and passenger - arriving at UK major ports, and selected other ports, from 2009

In [96]:
ficheros_uk = '../home_uk/port0602.xls' # Otras fuentes: 
uk_number_vessels_ports = pd.read_excel(ficheros_uk,
                                   sheet_name ='port0602',
                                   header=8,
                                   usecols="A:Q",
                                   skiprows=[9,122,123,124,125,126,127,128,129],
                                   engine='xlrd'
                                   )

In [97]:
uk_number_vessels_ports

,Port,Major/Minor ports,Port group,2009,2010,2011,2012,2013,2014,2015,2016,2017,2017.1,2018,2019,2020,2021
0,Aberdeen,Major port,Scotland East Coast,1490,1525,1558,1536,1511,1488,1411,1344,1251,1266,1298,1145,886,939
1,Appledore,Minor port,Bristol Channel,0,0,0,0,0,1,1,0,0,0,0,0,0,0
2,Ardrishaig,Minor port,Scotland West Coast,62,81,110,65,89,87,85,75,19,15,11,15,5,13
3,Ayr,Minor port,Scotland West Coast,166,244,160,125,173,148,134,120,84,165,197,247,237,264
4,Barrow,Minor port,Lancs and Cumbria,39,74,67,52,59,40,43,47,51,61,54,59,52,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Weymouth & Portland,Minor port,West Country,402,361,953,827,721,658,172,394,371,491,508,581,375,381
108,Whitstable,Minor port,Thames and Kent,22,44,40,30,30,27,25,30,36,2,0,14,4,9
109,Wick,Minor port,Scotland East Coast,0,1,0,0,0,7,20,5,5,13,12,24,16,7
110,Wisbech,Minor port,Wash & Northern E Anglia,23,25,30,38,16,35,43,44,57,63,90,96,59,103
111,Workington,Minor port,Lancs and Cumbria,60,50,91,132,146,152,143,123,136,111,177,159,138,112

Entre 2017 y 2017.1 hay un cambio en la contabilidad

**Port0601**: counts of vessels - cargo and passenger - arriving at UK major ports, and selected other ports, from 2009 **by vessel type and size**\. $\red{Rechazada~por~falta~de~granularidad}$
**Port0302**: UK major port freight traffic by port and route (filter by direction, cargo group and year):
    - $\orange{Aporta~informacion~sobre~tipo~de~barco~entrante~o~saliente~con~cargamento~y~puerto.~PUEDE~SERVIR}$\
    - port0302: Table with Port, freight by scope\
    - Data: Year | Port | Cargo Group | REgion | Direction | Tonnage | Units


**Port0301**: UK major port freight traffic by port and year (filter by direction and cargo type), from 2000\
Metric: Tonnage

In [98]:
ficheros_uk = '../home_uk/port0301.xls' # Otras fuentes: 
uk_ports_freight = pd.read_excel(ficheros_uk,
                                   sheet_name ='port0301', # ver hoja 'Data'
                                   header=10,
                                   usecols="A:Q",
                                   skiprows=[40,46,59,67,68],
                                   engine='xlrd'
                                   )

In [99]:
uk_ports_freight

,UK Country,Port,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,England,Boston,1264.756,847.184,765.628,1034.870,704.946,767.132,834.045,836.056,961.067,702.466,950.902,838.079,829.029,723.621,824.221
1,England,Bristol,9646.908,10895.045,10083.423,11438.876,10759.172,11205.945,12261.080,11177.613,11527.442,8999.400,7271.926,8201.875,10761.938,10632.551,11420.555
2,England,Dover,17433.742,19073.725,20211.622,18795.663,20752.669,21145.187,23804.767,25144.184,24343.847,25086.986,24093.076,24251.423,22902.209,25294.752,27605.158
3,England,Felixstowe,29686.079,28353.531,25119.274,22282.379,23413.458,23144.347,24369.738,25685.397,24988.190,24267.145,25756.440,26816.677,26268.499,26214.090,28126.858
4,England,Fleetwood [Note 1],1529.861,1607.977,1520.991,1624.187,1661.891,1635.135,1670.319,1771.882,1570.917,1327.262,1136.925,0.000,0.000,0.000,0.000
5,England,Fowey,1527.476,1535.342,1453.187,1447.116,1330.411,1270.158,1102.991,1120.537,934.937,773.959,773.330,688.289,641.190,656.027,581.049
6,England,Goole,2710.591,2633.452,2265.137,1913.460,2173.881,2622.839,2214.857,2280.909,2159.091,1635.168,1936.475,1847.556,1291.385,1376.772,1304.208
7,England,Great Yarmouth,756.858,666.069,710.770,778.405,607.098,763.141,949.713,900.148,783.595,658.711,855.114,826.738,888.833,840.482,1136.692
8,England,Grimsby & Immingham,52500.648,54830.711,55731.288,55931.016,57615.871,60686.389,64032.925,66278.848,65267.304,54708.257,54029.312,57227.340,60090.768,62614.255,59370.014
9,England,Harwich,3989.698,2622.573,3495.334,4330.417,4264.181,4220.934,4175.952,3784.219,3738.625,2942.333,3140.680,3090.484,3189.288,3637.921,3888.395
10,England,Heysham,3723.492,3823.501,3705.388,4082.962,3539.386,3676.370,4014.018,3585.590,3185.421,3101.581,3461.048,4290.636,4035.118,3920.169,4472.346
11,England,Hull,10722.469,10585.613,10297.979,10528.802,12443.284,13362.582,12785.069,12497.167,12249.066,9770.592,9236.492,9286.209,10081.161,10909.590,10924.751
12,England,Ipswich [Note 2],2925.389,2923.963,3335.725,3888.275,3557.041,3578.382,3505.073,2796.858,2572.323,2814.014,2874.500,2544.389,2205.689,1689.444,1928.599
13,England,Liverpool,30420.766,30288.314,30412.703,31684.319,32232.889,33775.239,33550.138,32258.334,32204.156,29936.422,30019.803,32660.282,32924.010,31149.403,30995.861
14,England,London [Note 5],47891.966,50654.008,51185.087,51027.682,53289.400,53842.547,51910.696,52739.301,52965.384,45441.889,48062.452,48796.156,43741.855,43205.457,44489.022
15,England,Manchester,7686.681,7879.260,6279.353,6088.018,6634.166,7221.633,8048.799,8078.799,7438.380,6670.344,7083.521,7355.080,6438.417,7489.349,7124.506
16,England,Medway,15292.143,14852.590,14839.617,15618.891,14534.977,15470.188,18956.747,15416.843,14970.725,13149.583,13970.865,16076.167,12649.437,8384.377,8446.733
17,England,Newhaven,578.375,997.600,862.622,949.411,929.069,876.335,1045.514,1002.989,1195.500,861.412,823.515,753.910,792.815,706.086,698.864
18,England,Plymouth,1799.072,1877.374,1854.494,2053.149,2166.785,2308.166,2452.084,2485.507,2321.696,1944.244,2207.875,2140.691,2374.025,2161.453,2089.068
19,England,Poole,1296.486,1819.141,1798.352,1640.354,1754.492,1711.809,1806.382,1404.805,1517.901,1127.409,981.531,950.244,751.680,634.187,573.011
20,England,Portsmouth,4521.104,4282.034,4365.039,4221.697,4939.596,4931.309,4205.233,3961.122,3937.317,3953.521,3717.893,3772.059,3486.744,3613.159,3785.992
21,England,Ramsgate,1237.238,1431.580,1848.206,1788.784,1701.805,1872.179,1703.595,2015.274,1968.175,1590.609,1738.502,1144.484,878.953,215.662,14.348
22,England,River Trent,2449.503,2395.789,2345.647,2309.360,2328.844,1924.444,2061.560,2206.641,1984.323,1096.195,1360.975,1282.654,1244.030,1312.949,1488.558
23,England,Rivers Hull & Humber,9014.624,7845.541,8901.588,10024.564,9241.697,9842.671,9774.244,9369.811,9350.678,9465.554,10034.221,10187.005,10282.535,9674.426,9986.226
24,England,Shoreham,1762.330,1803.946,1785.966,1725.493,1686.253,1827.500,1797.404,1988.940,1791.573,1735.330,1851.467,2080.932,1903.473,1599.744,1825.621
25,England,Southampton [Note 4],34773.043,35689.032,34156.012,35772.610,38431.194,39946.502,40556.441,43815.376,40974.163,37227.836,39365.274,37878.479,38107.398,35796.826,36688.443
26,England,Sunderland,934.410,1021.455,928.234,1019.920,1117.064,920.090,904.384,1023.610,804.631,651.336,407.047,503.629,455.293,596.261,686.367
27,England,Tees & Hartlepool,51472.639,50841.608,50447.469,53842.332,53819.227,55789.700,53347.933,49779.396,45436.042,39163.069,35696.985,35197.505,33966.908,37640.558,39537.027
28,England,Tyne,2391.008,2468.886,2655.588,2763.470,2973.018,3357.449,4076.577,4613.344,5417.025,3540.096,3216.895,5331.814,6494.352,8115.605,6700.978
29,Northern Ireland,Belfast,12483.808,13402.468,12824.817,13201.409,13558.563,13499.787,13514.203,13416.379,13039.864,12049.511,12826.864,13561.273,15185.967,16783.067,16792.969
30,Northern Ireland,Kilroot Power Station Jetty,1196.395,1264.288,1053.604,1041.428,1114.398,976.836,1154.591,802.645,867.214,531.804,784.362,623.468,1039.084,1120.514,994.850
31,Northern Ireland,Larne,4507.610,3519.739,4294.823,4319.454,4983.561,5495.940,5488.906,5463.552,5165.887,4297.283,4613.698,4394.995,2912.900,2368.656,2377.804
32,Northern Ireland,Londonderry,1133.129,1059.926,1064.775,1172.044,1391.790,1150.834,1689.717,1934.430,1839.350,1619.259,1756.539,1739.911,1659.078,1870.723,1794.439
33,Northern Ireland,Warrenpoint,1675.721,1480.397,1825.552,1879.509,1966.643,2436.483,2307.144,1999.054,2118.660,1840.575,2326.770,2425.483,2429.240,2706.768,2865.882
34,Scotland,Aberdeen,3377.419,3845.418,3645.040,3232.778,3888.060,4609.221,4662.987,5131.286,4832.685,4570.061,4163.777,4164.585,4493.129,4263.475,4231.153
35,Scotland,Cairnryan,2282.765,2014.228,2099.093,2327.709,2848.869,3273.933,3145.250,3163.177,2927.637,2571.913,2634.408,2932.447,2609.876,2364.488,2368.371
36,Scotland,Clyde,7223.647,11068.826,9733.094,9214.234,11507.189,15737.447,14980.915,12063.071,14337.627,12552.124,12283.144,13431.297,15420.597,14782.510,16200.950
37,Scotland,Cromarty Firth,2329.108,2144.692,2658.438,3500.865,3207.856,3325.197,3205.887,3502.343,2251.634,2864.039,3662.556,4020.198,2627.549,3378.193,1590.990
38,Scotland,Dundee,1046.582,1100.906,1102.858,1016.166,1057.780,1221.759,1201.993,1034.842,978.168,809.942,962.368,928.662,842.036,815.390,517.205
39,Scotland,Forth,41142.631,41607.233,42201.756,38751.792,34892.053,34218.139,31555.968,36681.167,39054.087,36690.185,34335.476,27878.242,25332.392,26365.132,24607.971
40,Scotland,Glensanda,5898.967,5470.854,5845.586,5322.386,5189.250,5438.707,6003.505,7050.397,6335.624,5590.653,5846.001,6059.939,5541.155,5745.990,6347.390
41,Scotland,Loch Ryan [Note 3],0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1814.879,2136.292,2038.483
42,Scotland,Orkney,22797.699,18406.739,18812.232,14421.967,17933.829,14534.020,11248.892,10592.215,4789.445,3241.494,3244.433,2343.573,1728.670,1053.884,1150.900
43,Scotland,Peterhead,1123.049,1339.258,1342.705,1050.515,675.904,928.246,946.779,789.729,871.248,796.580,1106.969,1053.820,1023.724,971.099,1376.827
44,Scotland,Stranraer [Note 3],1505.937,1404.379,1273.199,1273.566,1277.165,1165.102,1221.804,1231.009,1190.167,1176.987,1017.400,985.521,0.000,0.000,0.000
45,Scotland,Sullom Voe,38204.065,31165.651,29375.706,26360.270,23939.420,20540.531,19447.448,16572.778,14539.481,11216.595,11270.451,10152.895,11398.192,6393.563,7184.963
46,Wales,Cardiff,2699.400,2739.000,2208.647,2287.000,2504.000,2450.000,2873.000,3057.000,2596.000,1992.000,2232.000,2025.384,1830.011,1712.000,1731.000
47,Wales,Fishguard,421.159,341.396,408.242,473.862,521.846,513.325,596.803,571.543,559.917,366.211,416.407,344.504,335.173,341.956,378.400
48,Wales,Holyhead,3444.453,3228.607,3288.271,3328.712,3945.425,4147.278,4152.711,3468.007,3419.438,2852.331,2657.800,3148.489,3087.289,3212.259,3663.155
49,Wales,Milford Haven,33767.544,33791.592,34543.239,32737.114,38451.871,37547.023,34307.238,35495.560,35874.821,39292.880,42787.892,48698.750,39831.517,41104.987,34309.411
50,Wales,Newport,2672.696,2980.209,3110.937,2790.300,3447.900,3970.964,3845.506,2843.100,3194.727,2733.936,2068.125,2443.980,2464.181,2442.281,2616.685
51,Wales,Port Talbot,11724.801,8271.000,4971.000,7819.000,8555.000,8573.000,8659.000,9052.000,8147.000,5156.000,8832.000,7056.000,5571.928,8476.683,9475.993
52,Wales,Swansea,1013.600,1261.000,1069.000,848.000,721.000,695.000,634.000,682.606,589.007,401.000,604.000,561.300,594.560,539.972,526.529

**port0203**: UK major port unitised main freight traffic by port, cargo type, metric and loaded status (filter by direction and year)\
**fle0100**: UK Ship Register annual statistics and commercial data comparison: 2003 to 2023 (No desagregado)

Incluir los ficheros extraidos del zip:
- **port0502**: UK major port traffic by port (filter by direction), quarterly from 2009 (metric: thousand tonnes (tonnage). $\green{Puede~servir}$)
- **port0503**: UK major port traffic by port (filter by direction and cargo group). $\orange{No~se~perciben~muchas~diferencias~respecto~a~port0502}$

### Union de dataframes con Puertos:

1. Limpiar columnas con [Notes]

In [100]:
def remove_note(text):
    return re.sub(r"\[Note \d+\]", "", text)

In [101]:
uk_ports_freight['Port'] = uk_ports_freight['Port'].apply(remove_note)

In [102]:
uk_ports_freight

,UK Country,Port,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,England,Boston,1264.756,847.184,765.628,1034.870,704.946,767.132,834.045,836.056,961.067,702.466,950.902,838.079,829.029,723.621,824.221
1,England,Bristol,9646.908,10895.045,10083.423,11438.876,10759.172,11205.945,12261.080,11177.613,11527.442,8999.400,7271.926,8201.875,10761.938,10632.551,11420.555
2,England,Dover,17433.742,19073.725,20211.622,18795.663,20752.669,21145.187,23804.767,25144.184,24343.847,25086.986,24093.076,24251.423,22902.209,25294.752,27605.158
3,England,Felixstowe,29686.079,28353.531,25119.274,22282.379,23413.458,23144.347,24369.738,25685.397,24988.190,24267.145,25756.440,26816.677,26268.499,26214.090,28126.858
4,England,Fleetwood,1529.861,1607.977,1520.991,1624.187,1661.891,1635.135,1670.319,1771.882,1570.917,1327.262,1136.925,0.000,0.000,0.000,0.000
5,England,Fowey,1527.476,1535.342,1453.187,1447.116,1330.411,1270.158,1102.991,1120.537,934.937,773.959,773.330,688.289,641.190,656.027,581.049
6,England,Goole,2710.591,2633.452,2265.137,1913.460,2173.881,2622.839,2214.857,2280.909,2159.091,1635.168,1936.475,1847.556,1291.385,1376.772,1304.208
7,England,Great Yarmouth,756.858,666.069,710.770,778.405,607.098,763.141,949.713,900.148,783.595,658.711,855.114,826.738,888.833,840.482,1136.692
8,England,Grimsby & Immingham,52500.648,54830.711,55731.288,55931.016,57615.871,60686.389,64032.925,66278.848,65267.304,54708.257,54029.312,57227.340,60090.768,62614.255,59370.014
9,England,Harwich,3989.698,2622.573,3495.334,4330.417,4264.181,4220.934,4175.952,3784.219,3738.625,2942.333,3140.680,3090.484,3189.288,3637.921,3888.395
10,England,Heysham,3723.492,3823.501,3705.388,4082.962,3539.386,3676.370,4014.018,3585.590,3185.421,3101.581,3461.048,4290.636,4035.118,3920.169,4472.346
11,England,Hull,10722.469,10585.613,10297.979,10528.802,12443.284,13362.582,12785.069,12497.167,12249.066,9770.592,9236.492,9286.209,10081.161,10909.590,10924.751
12,England,Ipswich,2925.389,2923.963,3335.725,3888.275,3557.041,3578.382,3505.073,2796.858,2572.323,2814.014,2874.500,2544.389,2205.689,1689.444,1928.599
13,England,Liverpool,30420.766,30288.314,30412.703,31684.319,32232.889,33775.239,33550.138,32258.334,32204.156,29936.422,30019.803,32660.282,32924.010,31149.403,30995.861
14,England,London,47891.966,50654.008,51185.087,51027.682,53289.400,53842.547,51910.696,52739.301,52965.384,45441.889,48062.452,48796.156,43741.855,43205.457,44489.022
15,England,Manchester,7686.681,7879.260,6279.353,6088.018,6634.166,7221.633,8048.799,8078.799,7438.380,6670.344,7083.521,7355.080,6438.417,7489.349,7124.506
16,England,Medway,15292.143,14852.590,14839.617,15618.891,14534.977,15470.188,18956.747,15416.843,14970.725,13149.583,13970.865,16076.167,12649.437,8384.377,8446.733
17,England,Newhaven,578.375,997.600,862.622,949.411,929.069,876.335,1045.514,1002.989,1195.500,861.412,823.515,753.910,792.815,706.086,698.864
18,England,Plymouth,1799.072,1877.374,1854.494,2053.149,2166.785,2308.166,2452.084,2485.507,2321.696,1944.244,2207.875,2140.691,2374.025,2161.453,2089.068
19,England,Poole,1296.486,1819.141,1798.352,1640.354,1754.492,1711.809,1806.382,1404.805,1517.901,1127.409,981.531,950.244,751.680,634.187,573.011
20,England,Portsmouth,4521.104,4282.034,4365.039,4221.697,4939.596,4931.309,4205.233,3961.122,3937.317,3953.521,3717.893,3772.059,3486.744,3613.159,3785.992
21,England,Ramsgate,1237.238,1431.580,1848.206,1788.784,1701.805,1872.179,1703.595,2015.274,1968.175,1590.609,1738.502,1144.484,878.953,215.662,14.348
22,England,River Trent,2449.503,2395.789,2345.647,2309.360,2328.844,1924.444,2061.560,2206.641,1984.323,1096.195,1360.975,1282.654,1244.030,1312.949,1488.558
23,England,Rivers Hull & Humber,9014.624,7845.541,8901.588,10024.564,9241.697,9842.671,9774.244,9369.811,9350.678,9465.554,10034.221,10187.005,10282.535,9674.426,9986.226
24,England,Shoreham,1762.330,1803.946,1785.966,1725.493,1686.253,1827.500,1797.404,1988.940,1791.573,1735.330,1851.467,2080.932,1903.473,1599.744,1825.621
25,England,Southampton,34773.043,35689.032,34156.012,35772.610,38431.194,39946.502,40556.441,43815.376,40974.163,37227.836,39365.274,37878.479,38107.398,35796.826,36688.443
26,England,Sunderland,934.410,1021.455,928.234,1019.920,1117.064,920.090,904.384,1023.610,804.631,651.336,407.047,503.629,455.293,596.261,686.367
27,England,Tees & Hartlepool,51472.639,50841.608,50447.469,53842.332,53819.227,55789.700,53347.933,49779.396,45436.042,39163.069,35696.985,35197.505,33966.908,37640.558,39537.027
28,England,Tyne,2391.008,2468.886,2655.588,2763.470,2973.018,3357.449,4076.577,4613.344,5417.025,3540.096,3216.895,5331.814,6494.352,8115.605,6700.978
29,Northern Ireland,Belfast,12483.808,13402.468,12824.817,13201.409,13558.563,13499.787,13514.203,13416.379,13039.864,12049.511,12826.864,13561.273,15185.967,16783.067,16792.969
30,Northern Ireland,Kilroot Power Station Jetty,1196.395,1264.288,1053.604,1041.428,1114.398,976.836,1154.591,802.645,867.214,531.804,784.362,623.468,1039.084,1120.514,994.850
31,Northern Ireland,Larne,4507.610,3519.739,4294.823,4319.454,4983.561,5495.940,5488.906,5463.552,5165.887,4297.283,4613.698,4394.995,2912.900,2368.656,2377.804
32,Northern Ireland,Londonderry,1133.129,1059.926,1064.775,1172.044,1391.790,1150.834,1689.717,1934.430,1839.350,1619.259,1756.539,1739.911,1659.078,1870.723,1794.439
33,Northern Ireland,Warrenpoint,1675.721,1480.397,1825.552,1879.509,1966.643,2436.483,2307.144,1999.054,2118.660,1840.575,2326.770,2425.483,2429.240,2706.768,2865.882
34,Scotland,Aberdeen,3377.419,3845.418,3645.040,3232.778,3888.060,4609.221,4662.987,5131.286,4832.685,4570.061,4163.777,4164.585,4493.129,4263.475,4231.153
35,Scotland,Cairnryan,2282.765,2014.228,2099.093,2327.709,2848.869,3273.933,3145.250,3163.177,2927.637,2571.913,2634.408,2932.447,2609.876,2364.488,2368.371
36,Scotland,Clyde,7223.647,11068.826,9733.094,9214.234,11507.189,15737.447,14980.915,12063.071,14337.627,12552.124,12283.144,13431.297,15420.597,14782.510,16200.950
37,Scotland,Cromarty Firth,2329.108,2144.692,2658.438,3500.865,3207.856,3325.197,3205.887,3502.343,2251.634,2864.039,3662.556,4020.198,2627.549,3378.193,1590.990
38,Scotland,Dundee,1046.582,1100.906,1102.858,1016.166,1057.780,1221.759,1201.993,1034.842,978.168,809.942,962.368,928.662,842.036,815.390,517.205
39,Scotland,Forth,41142.631,41607.233,42201.756,38751.792,34892.053,34218.139,31555.968,36681.167,39054.087,36690.185,34335.476,27878.242,25332.392,26365.132,24607.971
40,Scotland,Glensanda,5898.967,5470.854,5845.586,5322.386,5189.250,5438.707,6003.505,7050.397,6335.624,5590.653,5846.001,6059.939,5541.155,5745.990,6347.390
41,Scotland,Loch Ryan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1814.879,2136.292,2038.483
42,Scotland,Orkney,22797.699,18406.739,18812.232,14421.967,17933.829,14534.020,11248.892,10592.215,4789.445,3241.494,3244.433,2343.573,1728.670,1053.884,1150.900
43,Scotland,Peterhead,1123.049,1339.258,1342.705,1050.515,675.904,928.246,946.779,789.729,871.248,796.580,1106.969,1053.820,1023.724,971.099,1376.827
44,Scotland,Stranraer,1505.937,1404.379,1273.199,1273.566,1277.165,1165.102,1221.804,1231.009,1190.167,1176.987,1017.400,985.521,0.000,0.000,0.000
45,Scotland,Sullom Voe,38204.065,31165.651,29375.706,26360.270,23939.420,20540.531,19447.448,16572.778,14539.481,11216.595,11270.451,10152.895,11398.192,6393.563,7184.963
46,Wales,Cardiff,2699.400,2739.000,2208.647,2287.000,2504.000,2450.000,2873.000,3057.000,2596.000,1992.000,2232.000,2025.384,1830.011,1712.000,1731.000
47,Wales,Fishguard,421.159,341.396,408.242,473.862,521.846,513.325,596.803,571.543,559.917,366.211,416.407,344.504,335.173,341.956,378.400
48,Wales,Holyhead,3444.453,3228.607,3288.271,3328.712,3945.425,4147.278,4152.711,3468.007,3419.438,2852.331,2657.800,3148.489,3087.289,3212.259,3663.155
49,Wales,Milford Haven,33767.544,33791.592,34543.239,32737.114,38451.871,37547.023,34307.238,35495.560,35874.821,39292.880,42787.892,48698.750,39831.517,41104.987,34309.411
50,Wales,Newport,2672.696,2980.209,3110.937,2790.300,3447.900,3970.964,3845.506,2843.100,3194.727,2733.936,2068.125,2443.980,2464.181,2442.281,2616.685
51,Wales,Port Talbot,11724.801,8271.000,4971.000,7819.000,8555.000,8573.000,8659.000,9052.000,8147.000,5156.000,8832.000,7056.000,5571.928,8476.683,9475.993
52,Wales,Swansea,1013.600,1261.000,1069.000,848.000,721.000,695.000,634.000,682.606,589.007,401.000,604.000,561.300,594.560,539.972,526.529

In [103]:
uk_number_vessels_ports.columns

Index([            ' Port', 'Major/Minor ports',        'Port group',
                      2009,                2010,                2011,
                      2012,                2013,                2014,
                      2015,                2016,                2017,
                  '2017.1',                2018,                2019,
                      2020,                2021],
      dtype='object')

In [104]:
uk_number_vessels_ports[' Port'] = uk_number_vessels_ports[' Port'].apply(remove_note)

In [105]:
uk_number_vessels_ports.rename(columns={' Port':'Port'}, inplace=True)

In [106]:
uk_number_vessels_ports.columns

Index([             'Port', 'Major/Minor ports',        'Port group',
                      2009,                2010,                2011,
                      2012,                2013,                2014,
                      2015,                2016,                2017,
                  '2017.1',                2018,                2019,
                      2020,                2021],
      dtype='object')

In [107]:
uk_ports_freight.columns

Index(['UK Country', 'Port', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
      dtype='object')

In [108]:
df1 = uk_number_vessels_ports[["Port","Major/Minor ports","Port group"]]
df2 = uk_ports_freight[["Port","UK Country"]]

In [109]:
df_ports_uk = pd.merge(left = df1,
         right = df2,
         how = 'outer',
         left_on=['Port', df1.groupby('Port').cumcount()],
         right_on=['Port', df2.groupby('Port').cumcount()])

In [110]:
df_ports_uk['id_Port'] = df_ports_uk.index

In [111]:
df_ports_uk

,Port,key_1,Major/Minor ports,Port group,UK Country,id_Port
0,Aberdeen,0,Major port,Scotland East Coast,Scotland,0
1,Appledore,0,Minor port,Bristol Channel,NaN,1
2,Ardrishaig,0,Minor port,Scotland West Coast,NaN,2
3,Ayr,0,Minor port,Scotland West Coast,NaN,3
4,Barrow,0,Minor port,Lancs and Cumbria,NaN,4
...,...,...,...,...,...,...
114,London,0,NaN,NaN,England,114
115,Portsmouth,0,NaN,NaN,England,115
116,Ramsgate,0,NaN,NaN,England,116
117,Rivers Hull & Humber,0,NaN,NaN,England,117
118,Tees & Hartlepool,0,NaN,NaN,England,118

Se ha creado la tabla/dataframe "UK_PORTS" con el identificador (PK) id_Port, detrayendo de los dataframes originales las columnas que caracterizan a los puertos.
Ahora, de esos primeros dataframes, una vez extraidas las columnas de atributos de puerto, se sustituye el nombre de puerto por el numero de identificador (que hace las veces de foreign key para la tabla "UK PORTS")

In [112]:
key_value_dict = dict(zip(df_ports_uk['Port'], df_ports_uk['id_Port']))

In [114]:
key_value_dict

{'Aberdeen': 0,
 'Appledore': 1,
 'Ardrishaig': 2,
 'Ayr': 3,
 'Barrow': 4,
 'Barry': 5,
 'Belfast': 6,
 'Berwick-On-Tweed': 7,
 'Bideford': 8,
 'Blyth': 9,
 'Boston': 10,
 'Bridgwater': 11,
 'Brightlingsea': 12,
 'Bristol': 13,
 'Buckie': 14,
 'Burry Port': 15,
 'Cairnryan': 16,
 'Cardiff': 17,
 'Chichester': 18,
 'Clyde': 19,
 'Coleraine': 20,
 'Corpach': 21,
 'Cowes, Isle of Wight ': 22,
 'Cromarty Firth': 23,
 'Dover': 24,
 'Dundee': 25,
 'Falmouth': 26,
 'Felixstowe': 27,
 'Fishguard': 28,
 'Fleetwood': 29,
 'Forth': 30,
 'Fowey': 31,
 'Fraserburgh': 32,
 'Garston': 33,
 "Gill's Bay Scotland": 34,
 'Glensanda': 35,
 'Goole': 36,
 'Great Yarmouth': 37,
 'Grimsby & Immingham': 38,
 'Harwich': 39,
 'Heysham': 40,
 'Holyhead': 41,
 "Hughtown (St Mary's)": 42,
 'Hull': 43,
 'Inverkeithing': 44,
 'Inverness': 45,
 'Ipswich': 46,
 'Kilroot': 47,
 'Kilroot Power Station Jetty': 48,
 "King's Lynn": 49,
 'Lancaster': 50,
 'Larne': 51,
 'Lerwick': 52,
 'Littlehampton': 53,
 'Liverpool': 54,
 'Llandulas': 55,
 'Loch Ryan ': 56,
 'London': 57,
 'Londonderry': 58,
 'Lowestoft': 59,
 'Manchester': 60,
 'Medway': 61,
 'Milford Haven': 62,
 'Mistley': 63,
 'Montrose': 64,
 'Mostyn': 65,
 'Neath': 66,
 'Newhaven': 67,
 'Newport': 68,
 'Newport, Isle of Wight': 69,
 'Orkney': 70,
 'Other ports': 71,
 'Padstow': 72,
 'Penzance': 73,
 'Perth': 74,
 'Peterhead': 75,
 'Plymouth': 76,
 'Poole': 77,
 'Port Penrhyn': 78,
 'Port Talbot': 79,
 'Porthoustock': 80,
 'Portsmouth ': 81,
 'Ramsgate ': 82,
 'River Ouse': 83,
 'River Trent': 84,
 'Rivers Hull and Humber': 85,
 'Rye': 86,
 'Scalloway': 87,
 'Scrabster': 88,
 'Seaham': 89,
 'Sharpness': 90,
 'Shoreham': 91,
 'Silloth': 92,
 'Southampton ': 93,
 'Stornoway': 94,
 'Stranraer ': 95,
 'Sullom Voe': 96,
 'Sunderland': 97,
 'Sutton Bridge': 98,
 'Swansea': 99,
 'Tees and Hartlepool': 100,
 'Teignmouth': 101,
 'Troon': 102,
 'Truro': 103,
 'Tyne': 104,
 'Wallasea': 105,
 'Warrenpoint': 106,
 'Weymouth & Portland': 107,
 'Whitstable': 108,
 'Wick': 109,
 'Wisbech': 110,
 'Workington': 111,
 'Fleetwood ': 112,
 'Ipswich ': 113,
 'London ': 114,
 'Portsmouth': 115,
 'Ramsgate': 116,
 'Rivers Hull & Humber': 117,
 'Tees & Hartlepool': 118}

In [115]:
uk_freight = uk_ports_freight.iloc[:, [1] + list(range(3, len(uk_ports_freight.columns)-1))]
uk_freight.rename(columns={'FK_Port':'Port'}, inplace=True)

In [120]:
uk_freight

,FK_Port,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Boston,847.184,765.628,1034.870,704.946,767.132,834.045,836.056,961.067,702.466,950.902,838.079,829.029,723.621
1,Bristol,10895.045,10083.423,11438.876,10759.172,11205.945,12261.080,11177.613,11527.442,8999.400,7271.926,8201.875,10761.938,10632.551
2,Dover,19073.725,20211.622,18795.663,20752.669,21145.187,23804.767,25144.184,24343.847,25086.986,24093.076,24251.423,22902.209,25294.752
3,Felixstowe,28353.531,25119.274,22282.379,23413.458,23144.347,24369.738,25685.397,24988.190,24267.145,25756.440,26816.677,26268.499,26214.090
4,Fleetwood,1607.977,1520.991,1624.187,1661.891,1635.135,1670.319,1771.882,1570.917,1327.262,1136.925,0.000,0.000,0.000
5,Fowey,1535.342,1453.187,1447.116,1330.411,1270.158,1102.991,1120.537,934.937,773.959,773.330,688.289,641.190,656.027
6,Goole,2633.452,2265.137,1913.460,2173.881,2622.839,2214.857,2280.909,2159.091,1635.168,1936.475,1847.556,1291.385,1376.772
7,Great Yarmouth,666.069,710.770,778.405,607.098,763.141,949.713,900.148,783.595,658.711,855.114,826.738,888.833,840.482
8,Grimsby & Immingham,54830.711,55731.288,55931.016,57615.871,60686.389,64032.925,66278.848,65267.304,54708.257,54029.312,57227.340,60090.768,62614.255
9,Harwich,2622.573,3495.334,4330.417,4264.181,4220.934,4175.952,3784.219,3738.625,2942.333,3140.680,3090.484,3189.288,3637.921
10,Heysham,3823.501,3705.388,4082.962,3539.386,3676.370,4014.018,3585.590,3185.421,3101.581,3461.048,4290.636,4035.118,3920.169
11,Hull,10585.613,10297.979,10528.802,12443.284,13362.582,12785.069,12497.167,12249.066,9770.592,9236.492,9286.209,10081.161,10909.590
12,Ipswich,2923.963,3335.725,3888.275,3557.041,3578.382,3505.073,2796.858,2572.323,2814.014,2874.500,2544.389,2205.689,1689.444
13,Liverpool,30288.314,30412.703,31684.319,32232.889,33775.239,33550.138,32258.334,32204.156,29936.422,30019.803,32660.282,32924.010,31149.403
14,London,50654.008,51185.087,51027.682,53289.400,53842.547,51910.696,52739.301,52965.384,45441.889,48062.452,48796.156,43741.855,43205.457
15,Manchester,7879.260,6279.353,6088.018,6634.166,7221.633,8048.799,8078.799,7438.380,6670.344,7083.521,7355.080,6438.417,7489.349
16,Medway,14852.590,14839.617,15618.891,14534.977,15470.188,18956.747,15416.843,14970.725,13149.583,13970.865,16076.167,12649.437,8384.377
17,Newhaven,997.600,862.622,949.411,929.069,876.335,1045.514,1002.989,1195.500,861.412,823.515,753.910,792.815,706.086
18,Plymouth,1877.374,1854.494,2053.149,2166.785,2308.166,2452.084,2485.507,2321.696,1944.244,2207.875,2140.691,2374.025,2161.453
19,Poole,1819.141,1798.352,1640.354,1754.492,1711.809,1806.382,1404.805,1517.901,1127.409,981.531,950.244,751.680,634.187
20,Portsmouth,4282.034,4365.039,4221.697,4939.596,4931.309,4205.233,3961.122,3937.317,3953.521,3717.893,3772.059,3486.744,3613.159
21,Ramsgate,1431.580,1848.206,1788.784,1701.805,1872.179,1703.595,2015.274,1968.175,1590.609,1738.502,1144.484,878.953,215.662
22,River Trent,2395.789,2345.647,2309.360,2328.844,1924.444,2061.560,2206.641,1984.323,1096.195,1360.975,1282.654,1244.030,1312.949
23,Rivers Hull & Humber,7845.541,8901.588,10024.564,9241.697,9842.671,9774.244,9369.811,9350.678,9465.554,10034.221,10187.005,10282.535,9674.426
24,Shoreham,1803.946,1785.966,1725.493,1686.253,1827.500,1797.404,1988.940,1791.573,1735.330,1851.467,2080.932,1903.473,1599.744
25,Southampton,35689.032,34156.012,35772.610,38431.194,39946.502,40556.441,43815.376,40974.163,37227.836,39365.274,37878.479,38107.398,35796.826
26,Sunderland,1021.455,928.234,1019.920,1117.064,920.090,904.384,1023.610,804.631,651.336,407.047,503.629,455.293,596.261
27,Tees & Hartlepool,50841.608,50447.469,53842.332,53819.227,55789.700,53347.933,49779.396,45436.042,39163.069,35696.985,35197.505,33966.908,37640.558
28,Tyne,2468.886,2655.588,2763.470,2973.018,3357.449,4076.577,4613.344,5417.025,3540.096,3216.895,5331.814,6494.352,8115.605
29,Belfast,13402.468,12824.817,13201.409,13558.563,13499.787,13514.203,13416.379,13039.864,12049.511,12826.864,13561.273,15185.967,16783.067
30,Kilroot Power Station Jetty,1264.288,1053.604,1041.428,1114.398,976.836,1154.591,802.645,867.214,531.804,784.362,623.468,1039.084,1120.514
31,Larne,3519.739,4294.823,4319.454,4983.561,5495.940,5488.906,5463.552,5165.887,4297.283,4613.698,4394.995,2912.900,2368.656
32,Londonderry,1059.926,1064.775,1172.044,1391.790,1150.834,1689.717,1934.430,1839.350,1619.259,1756.539,1739.911,1659.078,1870.723
33,Warrenpoint,1480.397,1825.552,1879.509,1966.643,2436.483,2307.144,1999.054,2118.660,1840.575,2326.770,2425.483,2429.240,2706.768
34,Aberdeen,3845.418,3645.040,3232.778,3888.060,4609.221,4662.987,5131.286,4832.685,4570.061,4163.777,4164.585,4493.129,4263.475
35,Cairnryan,2014.228,2099.093,2327.709,2848.869,3273.933,3145.250,3163.177,2927.637,2571.913,2634.408,2932.447,2609.876,2364.488
36,Clyde,11068.826,9733.094,9214.234,11507.189,15737.447,14980.915,12063.071,14337.627,12552.124,12283.144,13431.297,15420.597,14782.510
37,Cromarty Firth,2144.692,2658.438,3500.865,3207.856,3325.197,3205.887,3502.343,2251.634,2864.039,3662.556,4020.198,2627.549,3378.193
38,Dundee,1100.906,1102.858,1016.166,1057.780,1221.759,1201.993,1034.842,978.168,809.942,962.368,928.662,842.036,815.390
39,Forth,41607.233,42201.756,38751.792,34892.053,34218.139,31555.968,36681.167,39054.087,36690.185,34335.476,27878.242,25332.392,26365.132
40,Glensanda,5470.854,5845.586,5322.386,5189.250,5438.707,6003.505,7050.397,6335.624,5590.653,5846.001,6059.939,5541.155,5745.990
41,Loch Ryan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1814.879,2136.292
42,Orkney,18406.739,18812.232,14421.967,17933.829,14534.020,11248.892,10592.215,4789.445,3241.494,3244.433,2343.573,1728.670,1053.884
43,Peterhead,1339.258,1342.705,1050.515,675.904,928.246,946.779,789.729,871.248,796.580,1106.969,1053.820,1023.724,971.099
44,Stranraer,1404.379,1273.199,1273.566,1277.165,1165.102,1221.804,1231.009,1190.167,1176.987,1017.400,985.521,0.000,0.000
45,Sullom Voe,31165.651,29375.706,26360.270,23939.420,20540.531,19447.448,16572.778,14539.481,11216.595,11270.451,10152.895,11398.192,6393.563
46,Cardiff,2739.000,2208.647,2287.000,2504.000,2450.000,2873.000,3057.000,2596.000,1992.000,2232.000,2025.384,1830.011,1712.000
47,Fishguard,341.396,408.242,473.862,521.846,513.325,596.803,571.543,559.917,366.211,416.407,344.504,335.173,341.956
48,Holyhead,3228.607,3288.271,3328.712,3945.425,4147.278,4152.711,3468.007,3419.438,2852.331,2657.800,3148.489,3087.289,3212.259
49,Milford Haven,33791.592,34543.239,32737.114,38451.871,37547.023,34307.238,35495.560,35874.821,39292.880,42787.892,48698.750,39831.517,41104.987
50,Newport,2980.209,3110.937,2790.300,3447.900,3970.964,3845.506,2843.100,3194.727,2733.936,2068.125,2443.980,2464.181,2442.281
51,Port Talbot,8271.000,4971.000,7819.000,8555.000,8573.000,8659.000,9052.000,8147.000,5156.000,8832.000,7056.000,5571.928,8476.683
52,Swansea,1261.000,1069.000,848.000,721.000,695.000,634.000,682.606,589.007,401.000,604.000,561.300,594.560,539.972

In [121]:
uk_freight['id_Port'] = uk_freight['FK_Port'].map(key_value_dict)

/tmp/ipykernel_16421/1414437250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk_freight['id_Port'] = uk_freight['FK_Port'].map(key_value_dict)

Se ha incluido la columna id_Port que es la foreign key que la relaciona con Ports_UK:

In [122]:
uk_freight

,FK_Port,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,id_Port
0,Boston,847.184,765.628,1034.870,704.946,767.132,834.045,836.056,961.067,702.466,950.902,838.079,829.029,723.621,10
1,Bristol,10895.045,10083.423,11438.876,10759.172,11205.945,12261.080,11177.613,11527.442,8999.400,7271.926,8201.875,10761.938,10632.551,13
2,Dover,19073.725,20211.622,18795.663,20752.669,21145.187,23804.767,25144.184,24343.847,25086.986,24093.076,24251.423,22902.209,25294.752,24
3,Felixstowe,28353.531,25119.274,22282.379,23413.458,23144.347,24369.738,25685.397,24988.190,24267.145,25756.440,26816.677,26268.499,26214.090,27
4,Fleetwood,1607.977,1520.991,1624.187,1661.891,1635.135,1670.319,1771.882,1570.917,1327.262,1136.925,0.000,0.000,0.000,112
5,Fowey,1535.342,1453.187,1447.116,1330.411,1270.158,1102.991,1120.537,934.937,773.959,773.330,688.289,641.190,656.027,31
6,Goole,2633.452,2265.137,1913.460,2173.881,2622.839,2214.857,2280.909,2159.091,1635.168,1936.475,1847.556,1291.385,1376.772,36
7,Great Yarmouth,666.069,710.770,778.405,607.098,763.141,949.713,900.148,783.595,658.711,855.114,826.738,888.833,840.482,37
8,Grimsby & Immingham,54830.711,55731.288,55931.016,57615.871,60686.389,64032.925,66278.848,65267.304,54708.257,54029.312,57227.340,60090.768,62614.255,38
9,Harwich,2622.573,3495.334,4330.417,4264.181,4220.934,4175.952,3784.219,3738.625,2942.333,3140.680,3090.484,3189.288,3637.921,39
10,Heysham,3823.501,3705.388,4082.962,3539.386,3676.370,4014.018,3585.590,3185.421,3101.581,3461.048,4290.636,4035.118,3920.169,40
11,Hull,10585.613,10297.979,10528.802,12443.284,13362.582,12785.069,12497.167,12249.066,9770.592,9236.492,9286.209,10081.161,10909.590,43
12,Ipswich,2923.963,3335.725,3888.275,3557.041,3578.382,3505.073,2796.858,2572.323,2814.014,2874.500,2544.389,2205.689,1689.444,113
13,Liverpool,30288.314,30412.703,31684.319,32232.889,33775.239,33550.138,32258.334,32204.156,29936.422,30019.803,32660.282,32924.010,31149.403,54
14,London,50654.008,51185.087,51027.682,53289.400,53842.547,51910.696,52739.301,52965.384,45441.889,48062.452,48796.156,43741.855,43205.457,114
15,Manchester,7879.260,6279.353,6088.018,6634.166,7221.633,8048.799,8078.799,7438.380,6670.344,7083.521,7355.080,6438.417,7489.349,60
16,Medway,14852.590,14839.617,15618.891,14534.977,15470.188,18956.747,15416.843,14970.725,13149.583,13970.865,16076.167,12649.437,8384.377,61
17,Newhaven,997.600,862.622,949.411,929.069,876.335,1045.514,1002.989,1195.500,861.412,823.515,753.910,792.815,706.086,67
18,Plymouth,1877.374,1854.494,2053.149,2166.785,2308.166,2452.084,2485.507,2321.696,1944.244,2207.875,2140.691,2374.025,2161.453,76
19,Poole,1819.141,1798.352,1640.354,1754.492,1711.809,1806.382,1404.805,1517.901,1127.409,981.531,950.244,751.680,634.187,77
20,Portsmouth,4282.034,4365.039,4221.697,4939.596,4931.309,4205.233,3961.122,3937.317,3953.521,3717.893,3772.059,3486.744,3613.159,115
21,Ramsgate,1431.580,1848.206,1788.784,1701.805,1872.179,1703.595,2015.274,1968.175,1590.609,1738.502,1144.484,878.953,215.662,116
22,River Trent,2395.789,2345.647,2309.360,2328.844,1924.444,2061.560,2206.641,1984.323,1096.195,1360.975,1282.654,1244.030,1312.949,84
23,Rivers Hull & Humber,7845.541,8901.588,10024.564,9241.697,9842.671,9774.244,9369.811,9350.678,9465.554,10034.221,10187.005,10282.535,9674.426,117
24,Shoreham,1803.946,1785.966,1725.493,1686.253,1827.500,1797.404,1988.940,1791.573,1735.330,1851.467,2080.932,1903.473,1599.744,91
25,Southampton,35689.032,34156.012,35772.610,38431.194,39946.502,40556.441,43815.376,40974.163,37227.836,39365.274,37878.479,38107.398,35796.826,93
26,Sunderland,1021.455,928.234,1019.920,1117.064,920.090,904.384,1023.610,804.631,651.336,407.047,503.629,455.293,596.261,97
27,Tees & Hartlepool,50841.608,50447.469,53842.332,53819.227,55789.700,53347.933,49779.396,45436.042,39163.069,35696.985,35197.505,33966.908,37640.558,118
28,Tyne,2468.886,2655.588,2763.470,2973.018,3357.449,4076.577,4613.344,5417.025,3540.096,3216.895,5331.814,6494.352,8115.605,104
29,Belfast,13402.468,12824.817,13201.409,13558.563,13499.787,13514.203,13416.379,13039.864,12049.511,12826.864,13561.273,15185.967,16783.067,6
30,Kilroot Power Station Jetty,1264.288,1053.604,1041.428,1114.398,976.836,1154.591,802.645,867.214,531.804,784.362,623.468,1039.084,1120.514,48
31,Larne,3519.739,4294.823,4319.454,4983.561,5495.940,5488.906,5463.552,5165.887,4297.283,4613.698,4394.995,2912.900,2368.656,51
32,Londonderry,1059.926,1064.775,1172.044,1391.790,1150.834,1689.717,1934.430,1839.350,1619.259,1756.539,1739.911,1659.078,1870.723,58
33,Warrenpoint,1480.397,1825.552,1879.509,1966.643,2436.483,2307.144,1999.054,2118.660,1840.575,2326.770,2425.483,2429.240,2706.768,106
34,Aberdeen,3845.418,3645.040,3232.778,3888.060,4609.221,4662.987,5131.286,4832.685,4570.061,4163.777,4164.585,4493.129,4263.475,0
35,Cairnryan,2014.228,2099.093,2327.709,2848.869,3273.933,3145.250,3163.177,2927.637,2571.913,2634.408,2932.447,2609.876,2364.488,16
36,Clyde,11068.826,9733.094,9214.234,11507.189,15737.447,14980.915,12063.071,14337.627,12552.124,12283.144,13431.297,15420.597,14782.510,19
37,Cromarty Firth,2144.692,2658.438,3500.865,3207.856,3325.197,3205.887,3502.343,2251.634,2864.039,3662.556,4020.198,2627.549,3378.193,23
38,Dundee,1100.906,1102.858,1016.166,1057.780,1221.759,1201.993,1034.842,978.168,809.942,962.368,928.662,842.036,815.390,25
39,Forth,41607.233,42201.756,38751.792,34892.053,34218.139,31555.968,36681.167,39054.087,36690.185,34335.476,27878.242,25332.392,26365.132,30
40,Glensanda,5470.854,5845.586,5322.386,5189.250,5438.707,6003.505,7050.397,6335.624,5590.653,5846.001,6059.939,5541.155,5745.990,35
41,Loch Ryan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1814.879,2136.292,56
42,Orkney,18406.739,18812.232,14421.967,17933.829,14534.020,11248.892,10592.215,4789.445,3241.494,3244.433,2343.573,1728.670,1053.884,70
43,Peterhead,1339.258,1342.705,1050.515,675.904,928.246,946.779,789.729,871.248,796.580,1106.969,1053.820,1023.724,971.099,75
44,Stranraer,1404.379,1273.199,1273.566,1277.165,1165.102,1221.804,1231.009,1190.167,1176.987,1017.400,985.521,0.000,0.000,95
45,Sullom Voe,31165.651,29375.706,26360.270,23939.420,20540.531,19447.448,16572.778,14539.481,11216.595,11270.451,10152.895,11398.192,6393.563,96
46,Cardiff,2739.000,2208.647,2287.000,2504.000,2450.000,2873.000,3057.000,2596.000,1992.000,2232.000,2025.384,1830.011,1712.000,17
47,Fishguard,341.396,408.242,473.862,521.846,513.325,596.803,571.543,559.917,366.211,416.407,344.504,335.173,341.956,28
48,Holyhead,3228.607,3288.271,3328.712,3945.425,4147.278,4152.711,3468.007,3419.438,2852.331,2657.800,3148.489,3087.289,3212.259,41
49,Milford Haven,33791.592,34543.239,32737.114,38451.871,37547.023,34307.238,35495.560,35874.821,39292.880,42787.892,48698.750,39831.517,41104.987,62
50,Newport,2980.209,3110.937,2790.300,3447.900,3970.964,3845.506,2843.100,3194.727,2733.936,2068.125,2443.980,2464.181,2442.281,68
51,Port Talbot,8271.000,4971.000,7819.000,8555.000,8573.000,8659.000,9052.000,8147.000,5156.000,8832.000,7056.000,5571.928,8476.683,79
52,Swansea,1261.000,1069.000,848.000,721.000,695.000,634.000,682.606,589.007,401.000,604.000,561.300,594.560,539.972,99

Se hace lo mismo para UK_vessels:

In [123]:
uk_number_vessels_ports.columns

Index([             'Port', 'Major/Minor ports',        'Port group',
                      2009,                2010,                2011,
                      2012,                2013,                2014,
                      2015,                2016,                2017,
                  '2017.1',                2018,                2019,
                      2020,                2021],
      dtype='object')

In [124]:
uk_vessels_in_port = uk_number_vessels_ports.iloc[:, [0] + list(range(3, len(uk_ports_freight.columns)-1))]

In [127]:
uk_vessels_in_port['id_Port'] = uk_vessels_in_port['Port'].map(key_value_dict)

/tmp/ipykernel_16421/2666425809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk_vessels_in_port['id_Port'] = uk_vessels_in_port['Port'].map(key_value_dict)

In [128]:
uk_vessels_in_port

,Port,2009,2010,2011,2012,2013,2014,2015,2016,2017,2017.1,2018,2019,2020,id_Port
0,Aberdeen,1490,1525,1558,1536,1511,1488,1411,1344,1251,1266,1298,1145,886,0
1,Appledore,0,0,0,0,0,1,1,0,0,0,0,0,0,1
2,Ardrishaig,62,81,110,65,89,87,85,75,19,15,11,15,5,2
3,Ayr,166,244,160,125,173,148,134,120,84,165,197,247,237,3
4,Barrow,39,74,67,52,59,40,43,47,51,61,54,59,52,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Weymouth & Portland,402,361,953,827,721,658,172,394,371,491,508,581,375,107
108,Whitstable,22,44,40,30,30,27,25,30,36,2,0,14,4,108
109,Wick,0,1,0,0,0,7,20,5,5,13,12,24,16,109
110,Wisbech,23,25,30,38,16,35,43,44,57,63,90,96,59,110
111,Workington,60,50,91,132,146,152,143,123,136,111,177,159,138,111

Por ejemplo, London solo sale en la tabla 'freight' pero no en 'vessels_in_port'. Es posible que haya que considerar entidades regionales que engloben distintos puertos (ver la columna 'Port group' de df_ports_uk)

Ya tenemos las tablas df_ports_uk, uk_freight y uk_vessels_in_port, que relacionan puertos, regiones, con numero de barcos y volumen de cargamento.\
Con la cantidad de tonelaje que entra en cada puerto (o sale) se puede identificar si el puerto es un puerto de carga (de containers), pesquero, deportivo o de otro tipo.

*Guardar .csv de los dataframes creados:

In [130]:
pwd()

'/home/gonzalopc/Documentos/programas_mios/TFM_AFI_2025/TFM_AFI_2025/AAA_code'

In [131]:
uk_vessels_in_port.to_csv('../home_uk/uk_vessels_in_port.csv', index=False)
uk_freight.to_csv('../home_uk/uk_freight.csv', index=False)
df_ports_uk.to_csv('../home_uk/uk_ports.csv', index=False)