In [1]:
import pandas as pd
import numpy as np

In [2]:
# Carga csv 'Allocated_Ports_Data.csv'
allocated_ports = pd.read_csv('../sources/ais_noaa_gov/Allocated_Ports_Data.csv', sep=',')

In [3]:
allocated_ports

,Unnamed: 0,port_name,STATE,matched_port_name,coord_0,coord_1,allocated_location
0,0,"baltimore, md",MD,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa"
1,1,"beaumont, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx"
2,2,"bellingham, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa"
3,3,"bethel, ak",AK,NaN,NaN,NaN,NaN
4,4,"brevig mission, ak",AK,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
105,105,"whittier, ak",AK,NaN,NaN,NaN,NaN
106,106,"wilmington, de",DE,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa"
107,107,"wilmington, nc",NC,"wilmington, nc",34.444471,-77.206152,"wilmington, nc"
108,108,"wrangell, ak",AK,NaN,NaN,NaN,NaN
109,109,"yakutat, ak",AK,NaN,NaN,NaN,NaN

Puertos asignados a hubs portuarios:

In [4]:
# Remove the 'Unnamed: 0' column
allocated_ports = allocated_ports.drop(columns=['Unnamed: 0'])

# Drop rows with NaN values
allocated_ports = allocated_ports.dropna()

allocated_ports

,port_name,STATE,matched_port_name,coord_0,coord_1,allocated_location
0,"baltimore, md",MD,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa"
1,"beaumont, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx"
2,"bellingham, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa"
5,"buffalo, ny",NY,"erie/buffalo, ny, hamilton/toronto, canada",43.279341,-79.577205,"erie/buffalo, ny, hamilton/toronto, canada"
6,"calhoun port authority, tx",TX,"corpus christi, tx",26.569886,-97.171901,"corpus christi, tx"
...,...,...,...,...,...,...
98,"tacoma, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa"
99,"tampa port authority, fl",FL,"tampa, fl",27.841975,-82.338993,"tampa, fl"
100,"texas city, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx"
106,"wilmington, de",DE,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa"
107,"wilmington, nc",NC,"wilmington, nc",34.444471,-77.206152,"wilmington, nc"

Hubs portuarios:

In [5]:
# Read the CSV file
port_hubs_usa = pd.read_csv('../sources/ais_noaa_gov/port_hubs_usa.csv', sep=',')

# Remove the 'Unnamed: 0' column
port_hubs_usa = port_hubs_usa.drop(columns=['Unnamed: 0'])

# Reset the index and drop the old index
port_hubs_usa = port_hubs_usa.reset_index(drop=True)

port_hubs_usa

,clusters,coord_0,coord_1,location
0,0,32.768840,-79.810735,"Charleston, SC"
1,1,45.816003,-123.100623,"Portland, OR"
2,2,29.602093,-94.667153,"Houston/Galveston, TX"
3,3,33.804338,-118.379055,"Great Los Angeles, CA"
4,4,21.300056,-157.841184,"Honolulu, HI"
5,5,48.299993,-89.076998,"Thunder Bay, Canada"
6,6,40.690946,-74.157057,"Newark/New York, NJ/NY"
7,7,18.432384,-69.653176,"Santo Domingo, Republica Dominicana"
8,8,29.635235,-90.304095,"New Orleans, LO"
9,9,26.144929,-79.937712,"Miami-Fort Lauderdale, FL"
10,10,42.370024,-82.850005,"Detroit, MI/ Toledo, Cleveland, OH"
11,11,49.163111,-123.276449,"Vancouver, Canada"
12,12,36.971158,-76.191172,"Norfolk, VI"
13,13,37.900957,-122.209864,"San Francisco Bay Area, CA"
14,14,27.841975,-82.338993,"Tampa, FL"
15,15,18.307611,-65.421345,"San Juan, Puerto Rico"
16,16,30.455800,-87.897173,"Jackson County, MS, Mobile, AL"
17,17,41.802273,-87.303679,"Chicago, IL"
18,18,45.518854,-73.702464,"Montreal, Canada"
19,19,26.569886,-97.171901,"Corpus Christi, TX"
20,20,46.770140,-92.030042,"Duluth, MN"
21,21,39.162017,-76.084075,"Baltimore, MD, Filadelfia, PA"
22,22,30.624641,-81.482677,"Jacksonville, FL"
23,23,41.935228,-70.919314,"Boston, MA"
24,24,32.124725,-116.842873,"San Diego, CA"
25,25,47.449355,-122.428779,"Seattle/Tacoma, WA"
26,26,23.103120,-82.429889,"La Habana, Cuba"
27,27,46.026427,-84.311425,Michigan-Canada
28,28,32.044815,-80.820245,"Savannah, GA"
29,29,43.279341,-79.577205,"Erie/Buffalo, NY, Hamilton/Toronto, Canada"
30,30,34.444471,-77.206152,"Wilmington, NC"

Una vez importados los hubs portuarios y sus puertos asociados, se importa y observa la asociación de esos hubs portuarios con las divisiones de la CBP:

In [6]:
import glob

# Get a list of all CSV files in the directory
csv_files = glob.glob('../sources/CBP_drug_seizures/nationwide-drugs-fy*.csv')

# Read and concatenate all CSV files
drug_seizures = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index=True)

# Drop duplicates
drug_seizures = drug_seizures.drop_duplicates()

In [7]:
drug_seizures['Area of Responsibility'].unique()

array(['ATLANTA FIELD OFFICE', 'BALTIMORE FIELD OFFICE',
       'CHICAGO FIELD OFFICE', 'HOUSTON FIELD OFFICE',
       'LOS ANGELES FIELD OFFICE', 'MIAMI FIELD OFFICE',
       'NEW ORLEANS FIELD OFFICE', 'NEW YORK FIELD OFFICE',
       'PRECLEARANCE FIELD OFFICE', 'SAN FRANCISCO FIELD OFFICE',
       'SAN JUAN FIELD OFFICE', 'TAMPA FIELD OFFICE',
       'BOSTON FIELD OFFICE', 'BUFFALO FIELD OFFICE',
       'DETROIT FIELD OFFICE', 'SEATTLE FIELD OFFICE',
       'PORTLAND FIELD OFFICE', 'EL PASO FIELD OFFICE',
       'LAREDO FIELD OFFICE', 'SAN DIEGO FIELD OFFICE',
       'TUCSON FIELD OFFICE', 'MIAMI SECTOR', 'BLAINE SECTOR',
       'BUFFALO SECTOR', 'DETROIT SECTOR', 'GRAND FORKS SECTOR',
       'HAVRE SECTOR', 'HOULTON SECTOR', 'SPOKANE SECTOR',
       'SWANTON SECTOR', 'BIG BEND SECTOR', 'DEL RIO SECTOR',
       'EL CENTRO SECTOR', 'EL PASO SECTOR', 'LAREDO SECTOR',
       'RIO GRANDE VALLEY SECTOR', 'SAN DIEGO SECTOR', 'TUCSON SECTOR',
       'YUMA SECTOR', 'RAMEY SECTOR', 'NEW ORLEANS SECTOR'], dtype=object)

In [8]:
port_hubs_usa['location'].to_csv('port_hub_location.csv', sep=',', index=False)

In [9]:
pd.Series(drug_seizures['Area of Responsibility'].unique()).to_csv('area_of_responsibility.csv', sep=',', index=False)

In [10]:
# Diccionario que relaciona 'localizacion del hub portuario' con 'Area de Responsabilidad'
# En primer lugar, probar con 'FIELD OFFICE', si no funciona, probar con 'SECTOR'
location_area_responsability = {
"Portland, OR":"PORTLAND FIELD OFFICE",
"Houston/Galveston, TX":"HOUSTON FIELD OFFICE",
"Great Los Angeles, CA":"LOS ANGELES FIELD OFFICE",
"Newark/New York, NJ/NY":"NEW YORK FIELD OFFICE",
"New Orleans, LO":"NEW ORLEANS FIELD OFFICE",
"Miami-Fort Lauderdale, FL":"MIAMI FIELD OFFICE",
"Detroit, MI/ Toledo, Cleveland, OH":"DETROIT FIELD OFFICE",
"San Francisco Bay Area, CA":"SAN FRANCISCO FIELD OFFICE",
"Tampa, FL":"TAMPA FIELD OFFICE",
"San Juan, Puerto Rico":"SAN JUAN FIELD OFFICE",
"Chicago, IL":"CHICAGO FIELD OFFICE",
"Baltimore, MD, Filadelfia, PA":"BALTIMORE FIELD OFFICE",
"Boston, MA":"BOSTON FIELD OFFICE",
"San Diego, CA":"SAN DIEGO FIELD OFFICE",
"Seattle/Tacoma, WA":"SEATTLE FIELD OFFICE",
"Savannah, GA":"ATLANTA FIELD OFFICE",
"Erie/Buffalo, NY, Hamilton/Toronto, Canada":"BUFFALO FIELD OFFICE"
}

In [11]:
allocated_ports.columns

Index(['port_name', 'STATE', 'matched_port_name', 'coord_0', 'coord_1',
       'allocated_location'],
      dtype='object')

In [12]:
# Convert keys and values in dictionary to lowercase
location_area_responsability = {k.lower(): v.lower() for k, v in location_area_responsability.items()}

In [13]:
location_area_responsability

{'portland, or': 'portland field office',
 'houston/galveston, tx': 'houston field office',
 'great los angeles, ca': 'los angeles field office',
 'newark/new york, nj/ny': 'new york field office',
 'new orleans, lo': 'new orleans field office',
 'miami-fort lauderdale, fl': 'miami field office',
 'detroit, mi/ toledo, cleveland, oh': 'detroit field office',
 'san francisco bay area, ca': 'san francisco field office',
 'tampa, fl': 'tampa field office',
 'san juan, puerto rico': 'san juan field office',
 'chicago, il': 'chicago field office',
 'baltimore, md, filadelfia, pa': 'baltimore field office',
 'boston, ma': 'boston field office',
 'san diego, ca': 'san diego field office',
 'seattle/tacoma, wa': 'seattle field office',
 'savannah, ga': 'atlanta field office',
 'erie/buffalo, ny, hamilton/toronto, canada': 'buffalo field office'}

In [14]:

# Add new column based on dictionary mapping
allocated_ports['area_responsibility'] = allocated_ports['allocated_location'].str.lower().map(location_area_responsability)

In [15]:
# Remove the 'matched_port_name' column
# allocated_ports = allocated_ports.drop(columns=['matched_port_name'])

# Rename 'coord_0' to 'latitude' and 'coord_1' to 'longitude'
# allocated_ports = allocated_ports.rename(columns={'coord_0': 'latitude', 'coord_1': 'longitude'})
allocated_ports.dropna(inplace=True)

In [16]:
allocated_ports.sort_values(by='allocated_location')

,port_name,STATE,matched_port_name,coord_0,coord_1,allocated_location,area_responsibility
87,"rochester, ny",NY,"erie/buffalo, ny, hamilton/toronto, canada",43.279341,-79.577205,"Erie/Buffalo, NY, Hamilton/Toronto, Canada",buffalo field office
0,"baltimore, md",MD,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa",baltimore field office
96,"south jersey port corporation, nj",NJ,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa",baltimore field office
52,"philadelphia regional port authority, pa",PA,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa",baltimore field office
106,"wilmington, de",DE,"baltimore, md, filadelfia, pa",39.162017,-76.084075,"baltimore, md, filadelfia, pa",baltimore field office
62,"port of boston, ma",MA,"boston, ma",41.935228,-70.919314,"boston, ma",boston field office
17,"fall river port authority, ma",MA,"boston, ma",41.935228,-70.919314,"boston, ma",boston field office
84,"portland, me",ME,"boston, ma",41.935228,-70.919314,"boston, ma",boston field office
78,"port of providence, ri",RI,"boston, ma",41.935228,-70.919314,"boston, ma",boston field office
45,"new bedford port authority, ma",MA,"boston, ma",41.935228,-70.919314,"boston, ma",boston field office
59,"port milwaukee, wi",WI,"chicago, il",41.802273,-87.303679,"chicago, il",chicago field office
27,"illinois international port district, il",IL,"chicago, il",41.802273,-87.303679,"chicago, il",chicago field office
10,"cleveland-cuyahoga county, oh",OH,"detroit, mi/ toledo, cleveland, oh",42.370024,-82.850005,"detroit, mi/ toledo, cleveland, oh",detroit field office
14,"detroit/wayne county port authority, mi",MI,"detroit, mi/ toledo, cleveland, oh",42.370024,-82.850005,"detroit, mi/ toledo, cleveland, oh",detroit field office
58,"port huron, mi",MI,"detroit, mi/ toledo, cleveland, oh",42.370024,-82.850005,"detroit, mi/ toledo, cleveland, oh",detroit field office
5,"buffalo, ny",NY,"erie/buffalo, ny, hamilton/toronto, canada",43.279341,-79.577205,"erie/buffalo, ny, hamilton/toronto, canada",buffalo field office
49,"oxnard harbor district, ca",CA,"great los angeles, ca",33.804338,-118.379055,"great los angeles, ca",los angeles field office
71,"port of los angeles, ca",CA,"great los angeles, ca",33.804338,-118.379055,"great los angeles, ca",los angeles field office
69,"port of long beach, ca",CA,"great los angeles, ca",33.804338,-118.379055,"great los angeles, ca",los angeles field office
1,"beaumont, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx",houston field office
100,"texas city, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx",houston field office
57,"port freeport, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx",houston field office
68,"port of houston authority of harris county, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx",houston field office
54,"port arthur, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx",houston field office
19,"galveston, tx",TX,"houston/galveston, tx",29.602093,-94.667153,"houston/galveston, tx",houston field office
85,"portmiami, fl",FL,"miami-fort lauderdale, fl",26.144929,-79.937712,"miami-fort lauderdale, fl",miami field office
56,"port everglades, fl",FL,"miami-fort lauderdale, fl",26.144929,-79.937712,"miami-fort lauderdale, fl",miami field office
74,"port of palm beach district, fl",FL,"miami-fort lauderdale, fl",26.144929,-79.937712,"miami-fort lauderdale, fl",miami field office
81,"port of south louisiana, la",LA,"new orleans, lo",29.635235,-90.304095,"new orleans, lo",new orleans field office
39,"lake charles harbor and terminal district, la",LA,"new orleans, lo",29.635235,-90.304095,"new orleans, lo",new orleans field office
72,"port of new orleans, la",LA,"new orleans, lo",29.635235,-90.304095,"new orleans, lo",new orleans field office
65,"port of greater baton rouge, la",LA,"new orleans, lo",29.635235,-90.304095,"new orleans, lo",new orleans field office
53,"plaquemines port, harbor and terminal district...",LA,"new orleans, lo",29.635235,-90.304095,"new orleans, lo",new orleans field office
55,"port authority of new york and new jersey, ny ...","NY,NJ","newark/new york, nj/ny",40.690946,-74.157057,"newark/new york, nj/ny",new york field office
70,"port of longview, wa",WA,"portland, or",45.816003,-123.100623,"portland, or",portland field office
77,"port of portland, or",OR,"portland, or",45.816003,-123.100623,"portland, or",portland field office
82,"port of vancouver usa, wa",WA,"portland, or",45.816003,-123.100623,"portland, or",portland field office
89,"san diego unified port district, ca",CA,"san diego, ca",32.124725,-116.842873,"san diego, ca",san diego field office
90,"san francisco port commission, ca",CA,"san francisco bay area, ca",37.900957,-122.209864,"san francisco bay area, ca",san francisco field office
73,"port of oakland, ca",CA,"san francisco bay area, ca",37.900957,-122.209864,"san francisco bay area, ca",san francisco field office
97,"stockton port district, ca",CA,"san francisco bay area, ca",37.900957,-122.209864,"san francisco bay area, ca",san francisco field office
20,"guayanilla, pr",PR,"san juan, puerto rico",18.307611,-65.421345,"san juan, puerto rico",san juan field office
21,"guaynabo, pr",PR,"san juan, puerto rico",18.307611,-65.421345,"san juan, puerto rico",san juan field office
91,"san juan, pr",PR,"san juan, puerto rico",18.307611,-65.421345,"san juan, puerto rico",san juan field office
79,"port of savannah, ga",GA,"savannah, ga",32.044815,-80.820245,"savannah, ga",atlanta field office
80,"port of seattle, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa",seattle field office
29,"jefferson county port district, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa",seattle field office
64,"port of everett, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa",seattle field office
98,"tacoma, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa",seattle field office
2,"bellingham, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa",seattle field office
9,"clallam county port district, wa",WA,"seattle/tacoma, wa",47.449355,-122.428779,"seattle/tacoma, wa",seattle field office
7,"canaveral port district, fl",FL,"tampa, fl",27.841975,-82.338993,"tampa, fl",tampa field office
40,"manatee county port authority, fl",FL,"tampa, fl",27.841975,-82.338993,"tampa, fl",tampa field office
99,"tampa port authority, fl",FL,"tampa, fl",27.841975,-82.338993,"tampa, fl",tampa field office

¿Qué puertos tienen mayor volumen de cargamento?

Fuentes de puertos:
- Oakland: https://www.oaklandseaport.com/facts-figures/
- Seattle/Tacoma: https://www.nwseaportalliance.com/
- Savannah: https://gaports.com/sales/by-the-numbers/
- Los Angeles/Long Beach: https://explore.dot.gov/views/TEUMonthlyContainerPort/TEUbyPortDateandType?%3Aembed=y&%3AisGuestRedirectFromVizportal=y
- San Diego: -----

In [17]:
header = pd.read_csv('../sources/vesseltracker_data/header_container_data.csv', usecols=range(1, 7))

In [18]:
# Load the data using the header, skipping the first column
data = pd.read_csv('../sources/vesseltracker_data/port_data_vesseltracker__20250101.csv', header=0, names=header.columns, skipinitialspace=True, usecols=range(1, 7))
data

         Country              Port UN LOCODE    In port  Expected  Coverage
0          China           Nanjing     CNNKG   134/1433      1433       134
1          China      Zhangjiagang     CNZJG    95/1307      1307        95
2    Netherlands         Rotterdam     NLRTM   357/1288      1288       357
3      Singapore         Singapore     SGSIN  1695/1122      1122      1695
4          China          Jiangyin     CNJGY   125/1018      1018       125
..           ...               ...       ...        ...       ...       ...
594       Brazil           Vitoria     BRVIX      16/28        28        16
595    Australia  Port Douglas QLD     AUPTI       0/28        28         0
596        Japan            Himeji     JPHIM      11/28        28        11
597       Canada          Montreal     CAMTR      14/28        28        14
598      Ecuador         Guayaquil     ECGYE      19/28        28        19

[599 rows x 6 columns]

In [19]:

# Extract rows with value 'United States of America'
usa_data = data[data['Country'] == 'United States of America']

usa_data

,Country,Port,UN LOCODE,In port,Expected,Coverage
14,United States of America,Seattle,USSEA,28/562,562,28
19,United States of America,Miami,USMIA,15/435,435,15
21,United States of America,New Orleans,USMSY,98/425,425,98
22,United States of America,New York,USNYC,165/400,400,165
27,United States of America,Fort Lauderdale,USFLL,10/376,376,10
...,...,...,...,...,...,...
528,United States of America,Golden Meadow,USGM3,1/32,32,1
537,United States of America,Fort Myers Beach FL,USFMX,0/32,32,0
541,United States of America,Fort Myers Beach FL,USFMX,0/32,32,0
556,United States of America,Memphis TN,USMEM,5/30,30,5
559,United States of America,Memphis TN,USMEM,5/30,30,5

In [ ]:
usa_data.drop('Country', axis=1)
usa_data.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)
usa_data= usa_data.drop_duplicates()

/tmp/ipykernel_256256/3591216214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)

In [22]:
data_20250102 = pd.read_csv('../sources/vesseltracker_data/port_data_vesseltracker__20250102.csv', header=0, names=header.columns, skipinitialspace=True, usecols=range(1, 7))

# Extract rows with value 'United States of America'
usa_data_20250102 = data_20250102[data_20250102['Country'] == 'United States of America']

# Rename columns to match previous dataframes
usa_data_20250102.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)

# Drop the 'Country' column
usa_data_20250102.drop('Country', axis=1, inplace=True)

# Drop duplicates
usa_data_20250102 = usa_data_20250102.drop_duplicates()
merged_data = pd.merge(usa_data, usa_data_20250102, on='UN LOCODE', suffixes=('_20250101', '_20250102'))
merged_data = pd.merge(usa_data, usa_data_20250102[['UN LOCODE', 'In port']], on='UN LOCODE', suffixes=('_20250101', '_20250102'))

/tmp/ipykernel_256256/3944060256.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250102.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)
/tmp/ipykernel_256256/3944060256.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250102.drop('Country', axis=1, inplace=True)

In [23]:
data_20250103 = pd.read_csv('../sources/vesseltracker_data/port_data_vesseltracker__20250103.csv', header=0, names=header.columns, skipinitialspace=True, usecols=range(1, 7))

# Extract rows with value 'United States of America'
usa_data_20250103 = data_20250103[data_20250103['Country'] == 'United States of America']

# Rename columns to match previous dataframes
usa_data_20250103.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)

# Drop the 'Country' column
usa_data_20250103.drop('Country', axis=1, inplace=True)

# Drop duplicates
usa_data_20250103 = usa_data_20250103.drop_duplicates()

# Perform a left join on 'UN LOCODE' with the dataframe 'merged_data'
merged_data = pd.merge(merged_data, usa_data_20250103[['UN LOCODE', 'In port']], on='UN LOCODE', how='left', suffixes=('', '_20250103'))

/tmp/ipykernel_256256/150763986.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250103.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)
/tmp/ipykernel_256256/150763986.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250103.drop('Country', axis=1, inplace=True)

In [24]:
data_20250104 = pd.read_csv('../sources/vesseltracker_data/port_data_vesseltracker__20250104.csv', header=0, names=header.columns, skipinitialspace=True, usecols=range(1, 7))

# Extract rows with value 'United States of America'
usa_data_20250104 = data_20250104[data_20250104['Country'] == 'United States of America']

# Rename columns to match previous dataframes
usa_data_20250104.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)

# Drop the 'Country' column
usa_data_20250104.drop('Country', axis=1, inplace=True)

# Drop duplicates
usa_data_20250104 = usa_data_20250104.drop_duplicates()

# Perform a left join on 'UN LOCODE' with the dataframe 'merged_data'
merged_data = pd.merge(merged_data, usa_data_20250104[['UN LOCODE', 'In port']], on='UN LOCODE', how='left', suffixes=('', '_20250104'))

/tmp/ipykernel_256256/3281996120.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250104.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)
/tmp/ipykernel_256256/3281996120.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250104.drop('Country', axis=1, inplace=True)

In [27]:
# merged_data.drop('In port_20250103', axis=1, inplace=True)
merged_data.rename(columns={'In port': 'In port_20250103'}, inplace=True)
merged_data.drop('Expected', axis=1, inplace=True)

In [28]:
data_20250105 = pd.read_csv('../sources/vesseltracker_data/port_data_vesseltracker__20250105.csv', header=0, names=header.columns, skipinitialspace=True, usecols=range(1, 7))

# Extract rows with value 'United States of America'
usa_data_20250105 = data_20250105[data_20250105['Country'] == 'United States of America']

# Rename columns to match previous dataframes
usa_data_20250105.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)

# Drop the 'Country' column
usa_data_20250105.drop('Country', axis=1, inplace=True)

# Drop duplicates
usa_data_20250105 = usa_data_20250105.drop_duplicates()

# Perform a left join on 'UN LOCODE' with the dataframe 'merged_data'
merged_data = pd.merge(merged_data, usa_data_20250105[['UN LOCODE', 'In port']], on='UN LOCODE', how='left', suffixes=('', '_20250105'))

# Display the merged dataframe
merged_data.rename(columns={'In port': 'In port_20250105'}, inplace=True)

/tmp/ipykernel_256256/2502637473.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250105.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)
/tmp/ipykernel_256256/2502637473.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250105.drop('Country', axis=1, inplace=True)

In [ ]:
data_20250106 = pd.read_csv('../sources/vesseltracker_data/port_data_vesseltracker__20250106.csv', header=0, names=header.columns, skipinitialspace=True, usecols=range(1, 7))

# Extract rows with value 'United States of America'
usa_data_20250106 = data_20250106[data_20250106['Country'] == 'United States of America']

# Rename columns to match previous dataframes
usa_data_20250106.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)

# Drop the 'Country' column
usa_data_20250106.drop('Country', axis=1, inplace=True)

# Drop duplicates
usa_data_20250106 = usa_data_20250106.drop_duplicates()

# Perform a left join on 'UN LOCODE' with the dataframe 'merged_data'
merged_data = pd.merge(merged_data, usa_data_20250106[['UN LOCODE', 'In port']], on='UN LOCODE', how='left', suffixes=('', '_20250106'))

# Display the merged dataframe
merged_data.rename(columns={'In port': 'In port_20250106'}, inplace=True)
merged_data.drop('Country', axis=1, inplace=True)

/tmp/ipykernel_256256/1625069075.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250106.rename(columns={'In port': 'Expected/In port', 'Expected': 'In port', 'Coverage': 'Expected'}, inplace=True)
/tmp/ipykernel_256256/1625069075.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_data_20250106.drop('Country', axis=1, inplace=True)

In [33]:
merged_data.head(50)

,Port,UN LOCODE,Expected/In port,In port_20250101,In port_20250102,In port_20250103,In port_20250104,In port_20250105,In port_20250106
0,Seattle,USSEA,28/562,562,552,570.0,574.0,564.0,560.0
1,Miami,USMIA,15/435,435,424,396.0,402.0,395.0,388.0
2,New Orleans,USMSY,98/425,425,421,447.0,446.0,436.0,439.0
3,New York,USNYC,165/400,400,389,352.0,356.0,350.0,327.0
4,Fort Lauderdale,USFLL,10/376,376,376,382.0,424.0,421.0,395.0
5,Houston,USHOU,171/364,364,374,370.0,332.0,350.0,353.0
6,San Diego,USSAN,8/353,353,369,375.0,362.0,389.0,378.0
7,Palm Beach,USPAB,12/340,340,353,364.0,393.0,388.0,387.0
8,Baton Rouge,USBTR,13/259,259,268,263.0,263.0,269.0,255.0
9,San Francisco,USSFO,11/235,235,237,225.0,196.0,212.0,231.0
10,Norfolk,USORF,30/201,201,191,183.0,198.0,185.0,179.0
11,Port Fourchon,USFOC,17/195,195,182,201.0,206.0,224.0,252.0
12,Corpus Christi,USCRP,56/174,174,163,154.0,159.0,158.0,154.0
13,Charleston,USCHS,19/168,168,150,138.0,147.0,155.0,135.0
14,Anacortes WA,USOTS,2/142,142,158,150.0,148.0,147.0,141.0
15,Los Angeles,USLAX,4/134,134,126,137.0,136.0,123.0,127.0
16,Port Arthur,USPOA,10/120,120,109,120.0,125.0,117.0,117.0
17,Portland Oregon,USPDX,20/109,109,127,128.0,110.0,105.0,116.0
18,Galveston,USGLS,26/106,106,108,99.0,103.0,112.0,116.0
19,Port Canaveral FL,USPCV,2/96,96,99,98.0,110.0,101.0,92.0
20,Port Canaveral FL,USPCV,2/96,96,99,98.0,110.0,101.0,92.0
21,Long Beach,USLGB,10/89,89,94,NaN,97.0,96.0,98.0
22,Bellingham,USBLI,2/88,88,85,88.0,95.0,92.0,86.0
23,Oakland,USOAK,8/85,85,89,94.0,87.0,80.0,82.0
24,Port Everglades,USPEF,26/85,85,82,90.0,110.0,97.0,93.0
25,Honolulu,USHNL,14/82,82,81,76.0,70.0,62.0,70.0
26,Brunswick GA,USSSI,8/79,79,71,70.0,72.0,72.0,78.0
27,Brunswick GA,USSSI,8/79,79,71,70.0,72.0,72.0,78.0
28,Tacoma,USTIW,20/77,77,78,81.0,80.0,78.0,77.0
29,Philadelphia,USPHL,28/75,75,75,75.0,79.0,74.0,69.0
30,Boston,USBOS,10/72,72,76,61.0,60.0,57.0,53.0
31,Everett WA,USPAE,6/71,71,78,72.0,67.0,63.0,69.0
32,Newport Beach,USJNP,0/70,70,88,94.0,79.0,78.0,95.0
33,Baltimore,USBAL,30/65,65,67,58.0,61.0,59.0,61.0
34,Annapolis MD,USANP,1/65,65,61,56.0,60.0,59.0,61.0
35,Morgan City,USMGN,4/65,65,77,79.0,80.0,74.0,77.0
36,Annapolis MD,USANP,1/65,65,61,56.0,60.0,59.0,61.0
37,Tampa,USTPA,21/64,64,61,68.0,70.0,57.0,58.0
38,Saint Louis,USSYT,6/62,62,56,63.0,67.0,68.0,60.0
39,Morehead City,USMRH,4/59,59,55,53.0,58.0,48.0,54.0
40,Jacksonville,USJAX,23/56,56,58,47.0,44.0,55.0,55.0
41,Jacksonville,USJAX,23/56,56,56,47.0,44.0,55.0,55.0
42,Savannah,USSAV,33/56,56,57,55.0,59.0,56.0,47.0
43,Seal Beach,USSLH,0/53,53,67,72.0,65.0,59.0,77.0
44,Kodiak,USADQ,3/53,53,53,53.0,54.0,52.0,50.0
45,New Bedford,USNBD,3/52,52,58,60.0,55.0,52.0,45.0
46,Mobile,USMOB,24/51,51,53,48.0,NaN,48.0,55.0
47,Freeport TX,USFPO,32/49,49,46,42.0,53.0,51.0,52.0
48,Bradenton FL,USBBI,0/48,48,45,48.0,46.0,48.0,47.0
49,Paducah,USPAH,5/47,47,46,46.0,49.0,51.0,46.0